<%= content_for "navbar-end" do %>
  <%= link_to _("Sign up"), routes.path(:sign_up), class: "navbar-item is-tab" %>
  <%= link_to _("Sign in"), routes.path(:sign_in), class: "navbar-item is-tab" %>
<% end %>

<section class="section">
  <p>Welcome to Bookshelf</p>
</section>
