<section class="section">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <img src="https://hanamirb.org/images/logo.png" width="16" height="16" alt="Hanami">
      </a>
      <a class="navbar-burger" data-target="navbar-menu" aria-label="menu" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-start">
        <% if current_path?(routes.path(:list_books)) %>
          <%= tag.div(class: "navbar-item") { _("List") } %>
        <% else %>
          <%= link_to _("List"), routes.path(:list_books), class: "navbar-item is-tab" %>
        <% end %>
        <% if current_path?(routes.path(:new_book)) %>
          <%= tag.div(class: "navbar-item") { _("New") } %>
        <% else %>
          <%= link_to _("New"), routes.path(:new_book), class: "navbar-item is-tab" %>
        <% end %>
      </div>
    </div>
  </nav>
</section>
