<%= render "books/navbar" %>

<section class="section">
  <h1 class="title is-1">Bookshelf::Views::Books::Show</h1>
  <h2 class="subtitle is-3">Show book</h2>

  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <h3 class="card--header-title"><%= book[:title] %></h3>
          <div class="card-header-icon"></div>
        </div>
        <div class="card-content">
          <div>By <%= book[:author] %></div>
        </div>
      </div>
    </div>
  </div>
</div>
